@charset "utf-8";
/* CSS Document */

/*config wrapper*/
#wrapper {
	min-width: 700px;
	max-width: 1024px;
	box-shadow: 2px 4px 4px #000;
	width: 80%;
	background-color:#ffffcc;
	margin-right: auto;
	margin-left: auto;
}

.details {
	padding-left:20%;
	padding-right:20%;
	
}

main {
	padding: 25px;
}

img {
	border:none;
}

/*config body*/
body {
	background-image:url(img/background.gif);
 	background-color: #ffffcc;
 	color: #330000;
 	font-family: Verdana, Arial, sans-serif;
}
/*config header*/
header {
	background-color: #ccaa66;
	color: #000000;
	text-align: center;
}
/*config h1*/
h1 {
	line-height: 200%;
}
/*test config h1*/
h2
{
	background-color:#ccaa66;
	font-size:1.2em;
	padding-left: 10px;
	padding-bottom: 5px;
}

/*config nav*/
nav {
	text-align: center;
}
/*config footer*/
footer {
	padding: 10px;
	background-color: #ccaa66;
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center
}
