@charset "utf-8";
/* CSS Document */

/*config wrapper*/
#wrapper {
	background-color:#FFFFCC;
	width: 80%;
	min-width:700px;
	max-width: 960px;
	padding-bottom:20px;
	padding-left:30px;
	border:ridge;
	border-color:#00332B;
	border-width:1px;
	border-radius:25px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: inset -3px -3px 3px 3px #00332B;
}

.contact {
	font-weight:bold;
	font-size:.9em;
	font-family:"Times New Roman", Times, serif;
}

/*config body*/
body {
 background-color: #000033;
 background-image:url(img/primediagonal.png);
 color: #003300;
 font: Helvetica, Arial, sans-serif
}
/*config header*/
header {
	color: #48751A;
}
/*config h1*/
h1 {
	line-height: 200%;
}
/*config h2*/
h2
{
	color: #003366;
}

/*config h3*/
h3
{
	color: #006600;
	padding-top:10px;
}
/*config nav*/
nav {
	font-size:1.2em;
	font-weight:bold;
}

/* config dd element*/
dd {
	font-style:italic;
	font-size:.9em;
	line-height:200%;
}
/*config img element*/
img {
	border-style:none;
}

/*config footer*/
footer {
	font-size: .60em;
	font-style: italic;
}
